body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: dimgray;
}

.nabil {
    font-size: 20px;
    color: gray;
    padding-left: 90px;
    margin-bottom: 70px;
}


.orange-color {
    color: orange;
}

.divided {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 90%;
}

.maximum {
    padding-top: 100px;
    padding-left: 90px;
}

.minimum {
    padding-right: 300px;
}

.color-link {
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    padding: 23px 43px;
    margin-left: 90px;
    box-shadow: 5px 5px 20px gray;

}

.seperate {
    display: flex;
}

.half-length {
    width: 50%;
}

.half-length img {
    width: 100%;
    margin-left: 40px;
}

.right {
    font-size: 20px;
    color: gray;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-bottom: 80px;
}

.left {
    padding-left: 40px;
    padding-right: 40px;

}

.color-site {
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    padding: 23px 43px;
    margin-left: 40px;

    box-shadow: 5px 5px 20px gray;
}

.seperate {
    background-image: url(images/shapes/7.png);
    padding-bottom: 40px;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.half-height {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.under {
    font-size: 20px;
    color: gray;
}

.half {
    display: flex;
}

.half-wide img {
    width: 50%;



}

.center {
    font-weight: 700;
    color: dimgray;
    font-size: 30px;
}

.turn {
    font-weight: 900;
    color: black;
}

.fixed {
    font-size: 20px;
    color: gray;
    padding-bottom: 200px;
    padding-right: 100px;
}

.kamruddin {
    width: 30%;
    text-align: justify;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
}