body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: dimgray;
}

p {
    font-size: 20px;
    color: gray;
    padding-left: 90px;
    margin-bottom: 70px;
}


.orange-color {
    color: orange;
}

.divided {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 90%;
}

.maximum {
    padding-top: 100px;
    padding-left: 90px;
}

.minimum {
    padding-right: 300px;
}

.color-link {
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    padding: 23px 43px;
    margin-left: 90px;
    box-shadow: 5px 5px 20px gray;

}

.seperate {
    display: flex;
}

.half-length {
    width: 50%;
}

.half-length img {
    width: 100%;
    margin-left: 40px;
}

.right {
    text-align: justify;
    padding-right: 90px;
    padding-bottom: 40px;
}

.left {
    padding-left: 90px;
}

.color-site {
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 0 auto;
    border-radius: 50px;
    font-weight: 700;
    padding: 23px 43px;
    margin-left: 90px;

    box-shadow: 5px 5px 20px gray;
}

.seperate {
    background-image: url(images/shapes/7.png);
    padding-bottom: 40px;
    background-repeat: no-repeat;
}